tr:nth-of-type(odd) {
  background-color: #ccc;
}
body{
    font: sans-serif; font-size: 80%; line-height: 1.2em; width: 100%; margin: 10px; background: #FFFF99;
    
    
}
a:hover { 
    background-color: yellow;
}

.red{
	font-weight: bold;
	color: red;
}

#content{
	margin: 10px 0;
	background: black;
	position: absolute;
    left: 403px;
    top: 70px; 
    bottom: 30px;
    right: 350px;
	padding: 20px;
	clear: both;
	color: #0BEBFB;
}
#links{
	margin: 10px 0;
	background: black;
	position: absolute;
	top: 70px;
	left: 1020px;
	right: 50px;
	padding: 20px;
	clear: both;
	color: #0BEBFB;
}
#quote{
	margin: 10px 0;
	background: black;
	position: absolute;
	top: 410px;
	left: 1020px;
	right: 50px;
	bottom: 30px;
	padding: 20px;
	clear: both;
	color: #0BEBFB;
}